:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Regular.ttf) format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url(../assets/fonts/Neucha-Regular.ttf) format('woff2');
}

body {
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;

  color: var(--primary);
  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  position: relative;
  z-index: 1;

  margin-bottom: 0;

  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.bg-section-brown {
  background-color: var(--brown);
}

.bg-image::before {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.subtitle-dark {
  color: var(--transparent-dark);
  font-weight: normal;
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.subtitle-white {
  color: var(--transparent-white);
  font-weight: normal;
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.lead {
  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-light {
  background-color: var(--light);
}

.bg-section-light::before {
  background-color: var(--light);
}

.bg::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: '';
}

.container {
  position: relative;

  width: 1110px;
  padding: 100px 0;
}

.image-main {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.text-primary {
  color: var(--primary);
}

.text-dark {
  color: var(--dark);
}

.text-white {
  color: var(--white);
}

.text-brown {
  color: var(--brown);
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.columns-2 p {
  margin-top: 0;
}

.mt-194 {
  margin-top: 194px;
}

.break-after {
  break-after: column;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: none;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);
}

.button:hover {
  background-color: #ea7600;
}

.bg-primary {
  background-color: var(--primary);
}

.mt-40 {
  margin-top: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.mt-30 {
  margin-top: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.center-absolute {
  left: calc(50% - 919px / 2);
}

.h-375 {
  height: 375px;
}

.pt-100 {
  padding-top: 100px;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.fs-52 {
  font-size: 52px;
}

.width-350 {
  box-sizing: border-box;
  width: 350px;
}

.card {
  position: relative;

  box-sizing: border-box;
  width: 350px;
  padding: 24px;
}

.card:hover {
  color: var(--white);

  background-color: var(--primary);
}

.number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.card-link {
  display: inline-block;

  color: var(--primary);
  text-decoration: none;
}

.card-link:hover {
  color: var(--white);
}

.card-link::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
}

.img-effect {
  min-width: 578px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-100 {
  margin-top: 100px;
}

.underlay {
  padding: 5px 10px;
}

.heading-underlay {
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.bg-brown {
  background-color: var(--brown);
}

.p-55 {
  padding: 55px;
}

.mb-0 {
  margin-bottom: 0;
}

.flex-column {
  flex-direction: column;
}

.high-100 {
  height: 100%;
}

.col-2 {
  display: flex;
}

.col-2 > * {
  width: 50%;
  padding: 0 30px;
}

.fs-18 {
  font-size: 18px;
}

.input-email {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid #e3e3e3;
}

.button-email {
  width: 70px;
  height: 50px;
  border: none;
}

.img-button::before {
  position: absolute;
  top: 0;
  left: calc(50% - 12px);

  width: 24px;
  height: 24px;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  transform: translateY(50%);

  content: '';
}

.text-small {
  font-size: 12px;
}

.mt-9 {
  margin-top: 9px;
}

.align-center {
  align-items: center;
}

.mt-60 {
  margin-top: 60px;
}

.fs-14 {
  font-size: 14px;
}

.link-footer {
  color: var(--blue);
}

.flex-grow-1 {
  flex-grow: 1;
}

.mt-7 {
  margin-top: 7px;
}

.mt-23 {
  margin-top: 23px;
}

.mt-5 {
  margin-top: 5px;
}
